body{
    min-width: 720px;
    max-width: 1200px;
    padding-left: 40px;
}
img{
    width:1000px;
    height: 500px;
}
h2{
    color:rgb(180, 35, 35);
    font-size:24px;
    
}
b,h1{ 
    text-transform: capitalize;
}
h2#sam{
    position:relative;
    left:50px;
}