body{
    min-width: 720px;
    max-width: 1000px;
    padding-left: 40px;
}
img{
    width:1000px;
    height: 500px;
}
h2{
    color:hsl(332, 51%, 32%);
    font-size:24px;
    
}
b,h1{ 
    text-transform: capitalize;
    color:hsl(30, 10%, 34%);
}
h2#sam{
    position:relative;
    left:50px;
}
table{
    width: 500px;
    border-spacing: 10px;
    border: 1px solid;
}
th,td{
    border: 1px solid #99dcc8;
}


