@font-face {
    font-family: 'Inter-Regular';
    src: url('../webfonts/fonts/static/Inter-Regular.ttf');
}
@font-face {
    font-family: 'Inter-SemiBold';
    src: url('../webfonts/fonts/static/Inter-SemiBold.ttf');
}
body{

    background-color:  hsl(0, 0%, 8%);
    color: white;
}
div{
    margin: 3em auto;
    max-width: 70%;
    min-width: 500px;
    padding: 1.5em;
    background-color: hsl(0, 0%, 12%);
    border-radius: 2em;
    text-align: center;
    
}
ul{
    list-style-type: none;
    padding: 1.2em;
}
img{
    border-radius: 50%;
}
li{
    margin: 1.5em auto;
    border-radius: .5em;
    background-color:  hsl(0, 0%, 20%);
    font-family: Inter-Regular;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}
a{
    
    display:block;
    padding: 1em;
    text-decoration: none;
    color: white;
    text-transform:capitalize;
    font-family: Inter-SemiBold;

}
h1{
    text-transform: capitalize;
}
h1,p{
    font-family: Inter-SemiBold;
}
h1+p{
    
    text-transform: capitalize;
    color: hsl(75, 94%, 57%);
}
li:hover{
    background-color: hsl(75, 94%, 57%);
}