#main{
    margin: 30px 5px;
    background-color:rgb(236, 234, 230);
    font-family: "Arial Narrow";
}
h1,p,figure,h2{
    text-align: center;

}
img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display:block;
}
figure{
   padding: 2em;
   background-color: white;
}
ul{
    width: 40%;
    margin: 2em auto;
}
li{
    margin: 1em;
}
p#sam{
    font-size: 22px;
}